.pirateImageSection{
  height: 400px;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.userLoginTitle, .loginFormText{
  text-shadow: 2px 2px #022b3b;
}

.userLoginTitle {
  font-size: xx-large;

}

.loginFormText {
  font-size: x-large;
}

input {
  font-size: x-large;
}

#alertMessage, #errorMessage {
  font-size: large;
  color: red;
  text-shadow: 2px 2px #022b3b;
}