.userLoginTitle, .loginFormText{
  text-shadow: 2px 2px #022b3b;
}

.userLoginTitle {
  font-size: xx-large;
  margin-top: 10%;

}

.loginSection {
  width: 100%;
  text-align: center;
}

.loginForm {
  width: 100%;
}

.loginFormText {
  font-size: x-large;
}

input {
  font-size: x-large;
}

#alertMessage, #errorMessage {
  font-size: large;
  color: red;
  text-shadow: 2px 2px #022b3b;
}

.testData {
  background-color: #022b3b;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 15px;
}