.favoriteSection {
    text-align: center;
}

.favoriteSection img {
    margin-top: 0;
}

.userFavsPage {
    text-align: center;
}

.editFavForm .listFavs, .saveToFavsForm .listFavs{
    margin-left: auto;
    margin-right: auto;
}

ul,
li {
    list-style-type: none;
}

.userMessage,
.warning {
    font-size: large;
    color: red;
    text-shadow: 2px 2px #022b3b;
    margin-right: 13%;
}

.favsTitle,
.restaurantToEdit {
    font-size: xx-large;
    text-shadow: 2px 2px #2b718b;
}

.restaurantToEdit {
    font-size: x-large;
    text-shadow: 2px 2px #2b718b;
}

.editFavTextBox,
.searchFormBox {
    font-size: x-large;
}

.mapDisplayResults a {
    color: #5887c8;
    text-decoration: underline;
    font-size: xx-large;
    text-shadow: 2px 1px #030005;
}

.mapDisplayResults a:visited {
    color: #5887c8;
    text-decoration: underline;
}

.mapDisplayResults a:hover {
    color: #e8eaf2;
    text-shadow: 2px 1px #022b3b;
    text-decoration: underline;
}

.mapDisplayResults a:active {
    color: #022b3b;
    text-decoration: underline;
}

.searchTitle {
    font-size: xx-large;
    text-shadow: 2px 2px #2b718b;
}

.searchFormText {
    font-size: x-large;
    text-shadow: 2px 2px #2b718b;
}

.searchData {
    font-size: x-large;
    text-shadow: 2px 2px #2b718b;
}

.yelpInfo {
    font-size: large;
    text-shadow: 2px 2px #022b3b;
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
    .favsTitle {
        margin-top: 16%;
    }
    .listFavs {
        width: 85%;
    }
    li.mapDisplayResults {
        margin-left: auto;
        padding-top: 5px;
        text-align: left;
    }
    input.mapDisplayResults {
        margin-right: 175px;
        margin-left: auto;
    }
    .mapDisplayRadio {
        margin-left: -5%;
    }
    .searchTitle {
        margin-top: 15%
    }
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
    .favsTitle {
        margin-top: 7%;
    }
    .listFavs {
        width: 50%;
    }
    li.mapDisplayResults {
        margin-left: auto;
        padding-top: 5px;
        text-align: left;
    }
    input.mapDisplayResults {
        margin-right: 175px;
        margin-left: auto;
    }
    .mapDisplayRadio {
        margin-left: -5%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1439px) {
    .searchTitle {
        margin-top: 5%
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .favsTitle {
        margin-top: 9%;
    }
    .listFavs {
        width: 30%;
    }
    li.mapDisplayResults {
        margin-left: auto;
        padding-top: 5px;
        text-align: left;
    }
    input.mapDisplayResults {
        margin-right: 175px;
        margin-left: auto;
    }
    .mapDisplayRadio {
        margin-left: -5%;
    }
}

@media only screen and (min-width: 1440px) {
    .favsTitle {
        margin-top: 8%;
    }
    .listFavs {
        width: 20%;
    }
    li.mapDisplayResults {
        margin-left: auto;
        padding-top: 5px;
        text-align: left;
    }
    input.mapDisplayResults {
        margin-right: 175px;
        margin-left: auto;
    }
    .mapDisplayRadio {
        margin-left: -5%;
    }
    .searchTitle {
        margin-top: 8%
    }
}

.hidden {
    visibility: hidden;
}