.homeDecision,
.buttonSection {
    width: 100%;
    text-align: center;
}

.homeDecision {
    margin-top: 2%;
    margin-bottom: 5%;
}

.drawForm {
    margin-top: 5%;
    text-align: center;
}

.hangryTauntSection {
    color: #e8eaf2;
    font-size: x-large;
    text-shadow: 2px 2px #030005;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.offerDisplay,
.offerDisplay a {
    color: #e8eaf2;
    text-decoration: underline;
    font-size: larger;
    text-shadow: 2px 1px #030005;
}

.offerDisplay:visited,
.liofferDisplaynk a:visited {
    color: #022b3b;
    text-decoration: underline;
}

.offerDisplay:hover,
.offerDisplay a:hover {
    color: #5887c8;
    text-shadow: 2px 1px #030005;
    text-decoration: underline;
}

.offerDisplay:active,
.offerDisplay a:active {
    color: #022b3b;
    text-decoration: underline;
}

li.offerDisplay {
    margin-bottom: 2%;
}

.offerSection {
    padding: 0;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    li.offerDisplay {
        list-style-type: none;
    }
    .offerDisplay {
        font-size: medium;
    }
}

@media only screen and (min-width: 480px) and (max-width: 500px) {
    li.offerDisplay {
        list-style-type: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    li.offerDisplay {
        list-style-type: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    li.offerDisplay {
        list-style-type: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 429px) {
    li.offerDisplay {
        list-style-type: none;
    }
    .yelpsection img {
        width: 20%;
    }
}

@media only screen and (min-width: 430px) and (max-width: 700px) {
    .yelpsection img {
        width: 20%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .yelpsection img {
        width: 13%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .yelpsection img {
        width: 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .yelpsection img {
        width: 8%;
    }
}