

.pirateImageSection{
  height: 400px;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.dreadPirateImage {
  height: 100%;
}



.hangryTauntSection {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


p {
  display: block;
}

li.offerDisplay {
  padding-right: 16%; 
  list-style-type: none;
}