nav {
    font-size: larger;
    text-shadow: 2px 2px #022b3b;
    width: 100%;
    height: 100px;
    margin-top: -2%;
}

nav .navTitle {
    display: block;
    float: left;
    font-size: 70px;
    margin-left: 5%;
    margin-top: 2%;
    color: whitesmoke;
    text-shadow: 4px 4px #022b3b;
    font-family: 'Bangers', cursive !important;
}

.link,
.link a {
    color: whitesmoke;
    text-decoration: underline;
}

.link:visited,
.link a:visited {
    color: whitesmoke;
    text-decoration: underline;
}

.link:hover,
.link a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.link:active,
.link a:active {
    color: whitesmoke;
    text-decoration: underline;
}

.origDPEBox {
    height: 200px;
}

.origDPE {
    width: 100%;
    transform: rotate(-90deg);
    padding-top: 90px;
    padding-bottom: 100px;
}

.modalForm {
    text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
    nav {
        width: 100%;
        height: 100px;
        margin-top: -6%;
    }
    nav li {
        display: inline-block;
        float: left;
        margin-top: -6%;
        margin-bottom: 6%;
        margin-left: -5%;
        margin-right: 2%;
        padding-right: 20px;
    }
    nav .navTitle {
        float: left;
        font-size: 40px;
        margin-top: 3%;
        color: whitesmoke;
        text-shadow: 4px 4px #022b3b;
        font-family: 'Ubuntu Mono', monospace !important;
    }
    .origDPE {
        width: 100%;
        transform: rotate(-90deg);
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 450px) {
    nav {
        width: 100%;
        height: 100px;
        margin-top: -6%;
    }
    .navList {
        padding-top: 15%;
    }
    nav li {
        display: inline-block;
        float: right;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 2%;
        padding-right: 2px;
    }
    nav .navTitle {
        float: left;
        font-size: 40px;
        margin-top: 3%;
        color: whitesmoke;
        text-shadow: 4px 4px #022b3b;
        font-family: 'Ubuntu Mono', monospace !important;
    }
    .origDPE {
        width: 100%;
        transform: rotate(-90deg);
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 480px) {
    nav {
        width: 100%;
        height: 100px;
        margin-top: -6%;
    }
    nav li {
        display: inline-block;
        float: right;
        margin-top: 4%;
        margin-right: 2%;
        padding-left: 5px;
    }
    nav .navTitle {
        float: left;
        font-size: 40px;
        margin-top: 3%;
        color: whitesmoke;
        text-shadow: 4px 4px #022b3b;
        font-family: 'Ubuntu Mono', monospace !important;
    }
    .origDPE {
        width: 100%;
        transform: rotate(-90deg);
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 481px) {
    nav {
        width: 100%;
        height: 100px;
        margin-top: -4%;
    }
    nav li {
        display: inline-block;
        float: right;
        margin-top: 4%;
        margin-right: 2%;
        padding-left: 5px;
    }
    nav .navTitle {
        float: left;
        font-size: 50px;
        margin-top: 5%;
        color: whitesmoke;
        text-shadow: 4px 4px #022b3b;
    }
    .origDPE {
        width: 100%;
        transform: rotate(-90deg);
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    nav .navTitle {
        font-size: 65px;
    }
    nav li {
        font-size: 30px;
    }
}

@media only screen and (min-width: 2001px) {
    nav .navTitle {
        font-size: 100px;
    }
    nav li {
        font-size: 40px;
    }
}